<%-
  city = '01000'
  district = '01100'
  cities     = TaiwanCity.list
  districtes = TaiwanCity.list(city)
%>
<div class='rails-helper city-group'>
  <%= select_tag :city    , options_for_select(cities, city)        , prompt: '--縣市--', class: ['city-select', 'city-city'] %>
  <%= select_tag :district, options_for_select(districtes, district), prompt: '--鄉鎮市區--', class: ['city-select', 'city-district'] %>
</div>

<div class='html-tag city-group'>
  <select class='city-select city-city'>
    <option>--縣市--</option>
    <%= options_for_select(TaiwanCity.list, city) %>
  </select>
  <select class='city-select city-district'>
    <option>--鄉鎮市區--</option>
    <%= options_for_select(districtes, district) %>
  </select>
</div>
